body{
    margin:0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    
}
/*----Верхнее меню----*/
.header{
    display: block;
    position:100%;
    background: linear-gradient(-154deg,#42bc7f,#3d8963);
}

.container{
    margin-left: 100px;
    margin-right: 100px;
    
}
.nav{
    float:right;
    padding-right: 10px;
    padding-top: 12px;

}

.logo{
    position: relative;
    display: inline-block;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 35px;
}

.container li{
    display: inline-block;
    padding-left: 15px;
}

.nav a{
    color:rgb(212, 212, 212);
    text-decoration: none;
    font-size: 14px;
}
a:hover{
    color: rgb(255, 255, 255);
}
/*----Конец-меню----*/

/*----Welcome----*/

.Welcome{
    position:relative;
    width: 100%;
}
.Welcome img{
    filter: brightness(65%);
}

.X-man{
    position:absolute;
    bottom: 450px;
    font-size: 47pt;
    color: white;
    padding-left: 150px;
}

.X-man-text{
    position:absolute;
    bottom: 430px;
    padding-left: 150px;
    color:white;
    font-size: 11pt;
}

.View_work{
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: 150px;
    bottom: 380px;
    background-color: #42bc7f;
}
.View_work a{
    text-decoration: none;
    color:white;

}

.View_work a :hover{
    color:rgb(228, 228, 228)
}

.Contact_me{
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: 290px;
    bottom: 380px;
    background-color: white;
}
.Contact_me a{
    text-decoration: none;
    color:black;
}

/*----Конец-Welcome----*/

/*----About-Me----*/
.Ama{
    background-color:white;
   
}

.text_am{
    position:absolute;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 70px;
    padding-bottom: 130px;
    font-size: 11pt;
    

}
.downloadxd{
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left:400px;
    margin-top:300px;
    margin-bottom: 250px;
    background-color: #42bc7f;
    
    
}

.downloadxd a{
    text-decoration: none;
    color:white;
}
.pi2 p{
   
}
.pi2{
    position: absolute;
    color:#42bc7f;
    font-size:30pt;
    margin-left: 250px; 
    margin-top: 220px;
    
    
}
.pi1{
    position: absolute;
    color:black;
    font-size:30pt;
    margin-left: 200px;
    margin-top: 180px;
    
    
}
.video{
    position:absolute;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-left:920px;
}

.video img{
    object-fit: fill;
    
}