
body{
    margin:0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    max-width: 100%;
    
}

._container{
    width: 1180px;
    margin: 0 auto;
}

/*----Верхнее меню----*/
.header{
    height: 70px;
    display: flex;
    align-items: center;
    background: linear-gradient(-154deg,#42bc7f,#3d8963);
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    display: flex;
}

.navigation li:not(last-child){
    list-style-type: none;
    margin-right: 10px;
}

.nav a{
    transition: color 0.3s 0s ease;
    color:rgb(212, 212, 212);
    text-decoration: none;
    font-size: 14px;
}
a:hover{
    color: rgb(255, 255, 255);
}
/*----Конец-меню----*/

/*----Welcome----*/

.Welcome{
    position: relative;
    background-image: url(Img/slider.jpg);
    filter: brightness(1);
    padding: 200px 0 255px 0;
    background-size: cover;
    background-position: 50% 45%;
}

.Welcome::before{
    background:rgb(57 53 53 / 50%);
    content: "";
    position: absolute;
    top:0px;
    left:0;
    width: 100%;
    height: 712px;
    z-index: -1;
}

.Welcome_title, .Welcome_text{
    margin-bottom: 15px;
    color:#fff;
}

.Welcome_text{
    font-size: 15px;
    width: 690px;
    line-height: 140%;
    letter-spacing: 0.1px;
}

.Welcome_title{
    font-size: 60px;
}

.View_btn{
    transition: all 0.3s 0s ease;
    display: inline-flex;
    justify-content: center;   
    align-items: center;
    text-decoration: none;
    color:white;
    border-radius: 2px;
    width: 160px;
    height: 40px;
    font-weight: 700;
    background-color: #42bc7f;
}

.View_btn:hover{
    color:black;
    background-color: white;
}

.View_btn span{
    display: block;
    margin-left: 6px;
}

.Contact_btn{
    transition: all 0.3s 0s ease;
    display: inline-flex;
    justify-content: center;   
    align-items: center;
    text-decoration: none;
    color:black;
    border-radius: 2px;
    width: 160px;
    height: 40px;
    font-weight: 700;
    background-color: #fff;
    margin-left: 20px;
    margin-top: 15px;
}

.Contact_btn:hover{
    color:white;
    background-color:#42bc7f;
}

.Contact_btn span{
    display: block;
    margin-left: 6px;
}

.Contact_btn i{
    transform:rotate(90deg);
}

/*----Конец-Welcome----*/

/*----About-Me----*/
.Ame{
    background-color: red;
    display: flex;
}

.Ame_container{
    display: flex;
}

.about_me{
    text-transform: uppercase;
    text-align: center;
}

.text_btn{
    margin: 0 0 0 170px;
}
.text_ame::first-line{
    line-height: 100px;
}

.download_CV a{
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    background-color: #42bc7f;
}

.Img_about{
    padding: 150px 150px 150px 150px;
    background-image: url(Img/about.jpg);
    background-size: cover;
}

.fa-play-circle{
    transition: all 0.3s 0s ease;
    width: 10px;
    height: 0px;
}
.fa-play-circle:hover{
    color:#42bc7f;
}